@import "components/Base/Fonts";

body {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: $fontSize400;
  background-color: #282c34;
  color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
