@import "styles/mixins";

html {
  @include full-width;
  @include full-height;
}

body {
  @include full-width;
  @include full-height;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @include full-width;
  @include full-height;
}

* {
  box-sizing: border-box;
  outline: none;
}
